/* favoriteSidebar.css */

/* Remove the list item bullets */
#favorite-sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

/* Center the content inside list items */
#favorite-sidebar li {
    text-align: center;
    margin-bottom: 20px; /* Space between items */
    position: relative; /* Allows absolute positioning of the button */
}

/* Style the poster images */
.poster-thumbnail {
    border-radius: 10px; /* Rounded corners */
    width: 92px; /* Ensure consistent width */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto 10px auto; /* Center the image and add margin below */
}

/* Style the title links */
#favorite-sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px; /* Space between title and button */
}

    /* Add hover effect for links */
    #favorite-sidebar a:hover {
        text-decoration: underline;
    }

/* Style the remove button */
.remove-favorite {
    position: absolute;
    top: 115px;
    right: 20px; /* Adjust to move the button to the right of the image */
    padding: 1px 1px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
}
