/*TODO:     Find a way to override the autofill psuedoclass*/


/*Entire Search Sidebar*/
.sidebar {
    margin-top: 45px; /* Ensure sidebar starts below the navbar */
    position: fixed;
    top: 35px; /* Account for the navbar height */
    left: 0px;
    width: 290px;
    height: calc(100% - 70px);
    background-color: #41484f;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    font-size: 20px;
}
/* From Darkest to ligthest cheatsheet:

#1a1c1f
#272c30
#41484f
#5c656e
#8d97a1
#d8e0e8

*/
.search-form {
    display: flex;
    flex-direction: column;
    margin-right: 3px;
    color: ghostwhite;
}
    /* Search input default state */
    .search-form input[type="text"],
    .search-form input[type="number"] {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 20px;
        color: white;
        background-color: #8d97a1;
        width: 250px;
        border-radius: 4px; /* Rounded corners */
        border: 2px solid #8d97a1; /* Keep the default border to match the background */
        transition: border-color 0.3s ease; /* Smooth transition for border */
    }


    .search-form input[type="text"]::placeholder,
    .search-form input[type="number"]::placeholder {
        color: lightgray;
    }

        /*checkbox  TODO: make the checked grey and not blue... this is harder than expected*/
    .search-form input[type="checkbox"] {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        background: #d8e0e8;
        border-radius: 5px;
        border: 2px solid #555;
    }

        .search-form input[type="checkbox"]:checked {
            background-color: #d8e0e8;
            border-color: #41484f;
        }

        .search-form input[type="checkbox"]:hover {
            border-color: #272c30; /* Darker border on hover */
        }

    /*Border around buttons*/
    .search-form .toggle-buttons {
        display: flex;
        align-items: stretch;
        flex-direction: row;
        margin-bottom: 10px;
        margin-left: 0px;
        max-width: 100%;
        min-width: 100%;
    }

        .search-form .toggle-buttons input[type="radio"] {
            display: none;
            
        }
        /*Movies, Series, People. Base*/
        .search-form .toggle-buttons label {
            font-size: 20px;
            padding: 8px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #5c656e;
            border: 1px solid #41484f;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;
            margin-bottom: 5px;
            box-shadow: 2px 0 5px rgba(0,0,0,0.5);
            margin-right: 5px;
            transition: background-color 0.3s ease; /* Smooth transition */
        }

            .search-form .toggle-buttons label:hover {
                background-color: #41484f; /* Slightly darker than #5c656e */
            }

        /*Movies, Series, People. When Selected*/
        .search-form .toggle-buttons input[type="radio"]:checked + label {
            background-color: #1a1c1f;
            color: white;
            border-color: white;
            box-shadow: 2px 0 5px rgba(0,0,0,0.5);
        }


    /* Search button */
    .search-form button {
        padding: 10px;
        font-size: 20px;
        background-color: #272c30; /* Original background */
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 2px 0 5px rgba(0,0,0,0.5);
        transition: background-color 0.3s ease; /* Smooth transition */
    }

        .search-form button:hover {
            background-color: #1a1c1f; /* Darker background on hover */
        }

        .search-form .toggle-buttons label i,
        .search-form button i {
            margin-right: 8px; /* Adds spacing between the icon and the text */
            font-size: 35px; /* Make icons slightly larger */
        }

#advancedSearchOptions {
    margin-top: 10px;
}

#advancedSearchToggle {
    margin-top: 20px;
    font-size: 15px;
    margin-left: 3px;
    font-size: 20px;
}

.hidden-element {
    visibility: hidden;
}
