/* From Darkest to ligthest cheatsheet:

#1a1c1f
#272c30
#41484f
#5c656e
#8d97a1
#d8e0e8

*/

/* Custom styles for the navbar */
.navbar {
    z-index: 100; /* Nav bar in front */
}

.searchResultHeader {
    font-size: 70px;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 20px;
    z-index: 101; /* not working as intended*/
}

.container-fluid {
    padding-top: 30px; /* Height of the fixed navbar */
}

.content {
    margin-left: 270px;
    padding: 20px;
}

body {
    background-color: #5c656e; 
    color: ghostwhite; 
    font-family: 'Comic Sans MS'; /* Default font here */
    margin-top: 5px; /* Adjust in case of navbar bamboozle */
}

.remove-favorite {
    background-color: #8d97a1;
    border: none;
}


/*pagination for list views*/


.pagination .arrow-link {
    width: 40px;
    height: 40px; 
    padding-bottom: 6px !important;
    font-size: 2em ; /* Makes the arrow text large */
    padding: 0 ; /* Removes any padding */
    background: #41484f;
    color: #d8e0e8;
    border-color: #41484f;
    line-height: 30px !important; /* Aligns the text vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pagination .disabled-link {
    background: #41484f !important;
    border-color: #41484f !important;
    color: #41484f !important; /* Slightly different color to indicate it's disabled */
    pointer-events: none; /* Prevent clicking */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
}

/* Style for the middle text */
.pagination .page-text {
    height: 40px;

    font-size: 1em; /* Adjust this value as needed */
    background: #41484f !important;
    color: #d8e0e8 !important;
    border: 1px solid #5c656e;
    border-color: #41484f !important;
    padding: 0.5em 1em;
    text-align: center;
    margin: 0;
}


